<div class="single-meme-view">
  <%= render partial: "demot", locals: {demot: @demot} %>
  <div class="left-arrow">
    <%= link_to "❰", demot_path(@demot.id - 1)%>
  </div>
  <div class="right-arrow">
    <%= link_to "❯", demot_path(@demot.id + 1)%>
  </div>
</div>
