<div class="row">
  <div class="small-7 small-centered columns">
    <h1 class="text-center">ADMIN PANEL</h1>

    <ul class="button-group radius admin-panel">
      <li><%= link_to 'Manage Users', admin_users_path, class: "button" %></li>
      <li><%= link_to 'Manage Demots', admin_demots_path, class: "button" %></li>
      <li><%= link_to 'Manage Templates', admin_templates_path, class: "button" %></li>
    </ul>

  </div>
</div>
