<h1>Administration</h1>

<ul class="button-group radius admin-panel">
  <li><%= link_to 'Manage Users', admin_users_path, class: "button" %></li>
  <li><%= link_to 'Manage Demots', admin_demots_path, class: "button"  %></li>
</ul>
