<h1>Pick an image</h1>
<div class="row">
<% @templates.each do |template| %>
  <div class="large-10 columns">
    <h3> <%= template.title %></h3>
  <%= image_tag(template.image) %>
<%= image_tag template.image_url(:thumb) if template.image? %>
</div>

<% end %>
</div>
