.main p,.main h3, .main h2,.main h1,.main label {
  color: #F7EAEA;
}
.main-container{
  background-color: #2C2C2C ;
  min-height: 100%;
}
.demots-column{
  background-color: #1D1B1B;
  padding-bottom: 2em;
  padding-top: 2em;
  border: 1px solid #D9D9D9;
  border-radius: 1%;
  margin-bottom: 1em;
}
.demots-column img{
   display: block;
  max-width: 100%;
  margin: 0 auto;
}
.demots-column h3{
  color: #EEEEEE;
}
.demots-main ul.pagination{
  margin-left:50px;
}
/* form errors */
.alert-form {
  color: #E21A1A;
}
.alert-form li{
  list-style-type: none;
}
.fi-arrow-up, .fi-arrow-down{
font-size:2.5em;
margin: 0px;
}
.arrows {
  margin-left: 5%;
}
.fi-arrow-down{
  padding: 2%;
  color:#D50529h
}
.fi-arrow-up{
  margin-right: 15%;
  padding: 0 2% 0 2%; ;
  color:#009D23;
}
.votes{
 margin: 2% 0 0 7%;
}
.demots-column p{
  display: inline;
  font-size: 1em;
}
/* Admin panel */
table.admin-list{
  background-color:rgb(79, 79, 79);
}
table tr.even, table tr.alt, table.admin-list tr:nth-of-type(even){
 background-color:#565656;
}
table tr.even, table tr.alt, table.admin-list tr{
  background-color:rgb(95, 95, 95);
}
table.admin-list td, table.admin-list thead th{
 color: #F7EAEA;
}
 table.admin-list thead th a{
  color:#F7EAEA;
  text-decoration: underline;
}
table.admin-list thead th{
 background-color:rgb(73, 73, 73);
}
table.admin-list{
  background-color:rgb(79, 79, 79);
  border-radius: 1%;
}
.users-list li, .demots-list li, .templates-list li{
  list-style-type: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 2%;
}
.user-name a{
 color: #ffffff
}
.admin-panel li{
  list-style-type: none;
}
.admin-panel a{
 color: #ffffff
}
.small-thumb img{
  border: 1px solid #ffffff;
  margin-bottom: 1%;
}
/***  Admin columns ***/


/* SOCIAL ICONS */
i.fi-social-twitter, i.fi-social-facebook {
  font-size: 1.4em;
}
.button.face{
  background-color:#3a5795;
}
.button.sharing-buttons.small{
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.button.sharing-buttons span{
  font-size: 1.2em;
}  
